
*.obj
*.exe
Debug/Smart8r.ilk
Debug/Smart8r.log
*.pdb
*.tlog
hub.json
*.ipch
Debug/vc142.idb
Debug/Smart8r.vcxproj.FileListAbsolute.txt
.vs/Smart8r/v16/.suo
.vs/Smart8r/v16/Browse.VC.db
.vs/Smart8r/v16/Browse.VC.db-shm
.vs/Smart8r/v16/Browse.VC.db-wal
.vs/Smart8r/v16/Browse.VC.opendb
*.log
*.idb
x64/Debug/Smart8r.vcxproj.FileListAbsolute.txt
